


body{
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
}

.Box-main{
  margin-bottom: 100px;
}
.Box-box1{

  width: 300px;
  height:230px;
  background-color: white;
  border-radius: 5px;
  border-top-style: solid  ;
  border-color: hsl(180, 62%, 55%);
  box-shadow: 1px 1px 10px  #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  text-align: left;
bottom: 100px;
}
.center{
  display: inline-block;
  margin-top: 15px;
}
.Box-box2{


  width: 300px;
  height:230px;
  background-color: white;
  border-radius: 5px;
  border-top-style: solid  ;
  border-color: hsl(0, 78%, 62%);
  box-shadow: 1px 1px 10px  #888888;
  display: inline-block;
  margin: 30px auto 20px auto;
  text-align: left;
}
.Box-box3{

  width: 300px;
  height:230px;
  background-color: white;
  border-radius: 5px;
  border-top-style: solid  ;
  border-color: hsl(34, 97%, 64%);
  box-shadow: 1px 1px 10px  #888888;
  margin: 10px auto 10px auto;
  text-align: left;
}
.Box-box4{

  width: 300px;
  height:230px;
  background-color: white;
  border-radius: 5px;
  border-top-style: solid  ;
  border-color: hsl(212, 86%, 64%);
  box-shadow: 1px 1px 10px  #888888;
  display: inline-block;

  margin-left: 20px;
  position: relative;
  text-align: left;
  bottom: 100px;
}

.Text-head{

}
.h1-thin{
  font-family: "Poppins";
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  margin: 100px 0 0 0;
}
.h1-heavy{
margin: 0;
  font-family: "Poppins";
color: hsl(234, 12%, 34%);
  font-weight: 600;
}
h2{

  margin-left: 30px;
  font-family: "Poppins";


}
p{
  margin: 0 0 0 30px;
  font-family: "Poppins";
  color: hsl(234, 12%, 34%);
  font-weight: 400;
}
img{
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
